 @import "tailwindcss";

 @theme {
  
  --radius: 0.65rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: oklch(0.969 0.014 286.375);
  --color-foreground: oklch(0.141 0.005 285.823);

  --color-card: oklch(0.958 0.026 280);
  --color-card-foreground: oklch(0.141 0.005 285.823);

  --color-popover: oklch(0.958 0.026 280);
  --color-popover-foreground: oklch(0.141 0.005 285.823);

  --color-primary: oklch(0.606 0.25 292.717);
  --color-primary-foreground: oklch(0.958 0.026 280);

  --color-secondary: oklch(0.958 0.026 280);
  --color-secondary-foreground: oklch(0.21 0.006 285.885);

  --color-muted: oklch(0.958 0.026 280);
  --color-muted-foreground: oklch(0.552 0.016 285.938);

  --color-accent: oklch(0.958 0.026 280);
  --color-accent-foreground: oklch(0.21 0.006 285.885);

  --color-destructive: oklch(0.577 0.245 27.325);
  --color-destructive-foreground: oklch(0.985 0 0);

  --color-border: oklch(0.92 0.004 286.32);
  --color-input: oklch(0.92 0.004 286.32);
  --color-ring: oklch(0.606 0.25 292.717);

  --color-chart-1: oklch(0.646 0.222 41.116);
  --color-chart-2: oklch(0.6 0.118 184.704);
  --color-chart-3: oklch(0.398 0.07 227.392);
  --color-chart-4: oklch(0.828 0.189 84.429);
  --color-chart-5: oklch(0.769 0.188 70.08);

  --color-sidebar: oklch(0.958 0.026 280);
  --color-sidebar-foreground: oklch(0.141 0.005 285.823);
  --color-sidebar-primary: oklch(0.606 0.25 292.717);
  --color-sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --color-sidebar-accent: oklch(0.967 0.001 286.375);
  --color-sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --color-sidebar-border: oklch(0.92 0.004 286.32);
  --color-sidebar-ring: oklch(0.606 0.25 292.717);
}

.dark {
  @theme {
    --color-background:oklch(0.141 0.005 285.823);
    --color-foreground: oklch(0.985 0 0);

    --color-card: oklch(0.21 0.006 285.885);
    --color-card-foreground: oklch(0.985 0 0);

    --color-popover: oklch(0.21 0.006 285.885);
    --color-popover-foreground: oklch(0.985 0 0);

    --color-primary: oklch(0.541 0.281 293.009);
    --color-primary-foreground: oklch(0.969 0.016 293.756);

    --color-secondary: oklch(0.274 0.006 286.033);
    --color-secondary-foreground: oklch(0.985 0 0);

    --color-muted: oklch(0.274 0.006 286.033);
    --color-muted-foreground: oklch(0.705 0.015 286.067);

    --color-accent: oklch(0.274 0.006 286.033);
    --color-accent-foreground: oklch(0.985 0 0);

    --color-destructive: oklch(0.704 0.191 22.216);
    --color-destructive-foreground: oklch(0.985 0 0);

    --color-border: oklch(1 0 0 / 10%);
    --color-input: oklch(1 0 0 / 15%);
    --color-ring: oklch(0.541 0.281 293.009);

    --color-chart-1: oklch(0.488 0.243 264.376);
    --color-chart-2: oklch(0.696 0.17 162.48);
    --color-chart-3: oklch(0.769 0.188 70.08);
    --color-chart-4: oklch(0.627 0.265 303.9);
    --color-chart-5: oklch(0.645 0.246 16.439);

    --color-sidebar: oklch(0.21 0.006 285.885);
    --color-sidebar-foreground: oklch(0.985 0 0);
    --color-sidebar-primary: oklch(0.541 0.281 293.009);
    --color-sidebar-primary-foreground: oklch(0.969 0.016 293.756);
    --color-sidebar-accent: oklch(0.274 0.006 286.033);
    --color-sidebar-accent-foreground: oklch(0.985 0 0);
    --color-sidebar-border: oklch(1 0 0 / 10%);
    --color-sidebar-ring: oklch(0.541 0.281 293.009);
  }
}


:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);

  --card: var(--color-card);
  --card-foreground: var(--color-card-foreground);

  --popover: var(--color-popover);
  --popover-foreground: var(--color-popover-foreground);

  --primary: var(--color-primary);
  --primary-foreground: var(--color-primary-foreground);

  --secondary: var(--color-secondary);
  --secondary-foreground: var(--color-secondary-foreground);

  --muted: var(--color-muted);
  --muted-foreground: var(--color-muted-foreground);

  --accent: var(--color-accent);
  --accent-foreground: var(--color-accent-foreground);

  --destructive: var(--color-destructive);
  --destructive-foreground: var(--color-destructive-foreground);

  --border: var(--color-border);
  --input: var(--color-input);
  --ring: var(--color-ring);

  
  --chart-1: var(--color-chart-1);
  --chart-2: var(--color-chart-2);
  --chart-3: var(--color-chart-3);
  --chart-4: var(--color-chart-4);
  --chart-5: var(--color-chart-5);

  --sidebar: var(--color-sidebar);
  --sidebar-foreground: var(--color-sidebar-foreground);
  --sidebar-primary: var(--color-sidebar-primary);
  --sidebar-primary-foreground: var(--color-sidebar-primary-foreground);
  --sidebar-accent: var(--color-sidebar-accent);
  --sidebar-accent-foreground: var(--color-sidebar-accent-foreground);
  --sidebar-border: var(--color-sidebar-border);
  --sidebar-ring: var(--color-sidebar-ring);
} 

@layer base {
  html:not(.dark) body {
    @apply bg-violet-100 ;
  }
}



