.big-box {
  margin-top: 24px;
  display: grid;
  place-items: center;
  margin-right: 16px;
}

.box-container {
  width: 100%;
  max-width: 448px;
  text-align: center;
}

.logo-area {
  margin-bottom: 24px;
}

.logo {
  display: block;
  margin: 0 auto 40px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.card {
  border: 1px solid #000000;
  border-radius: 16px;
  padding: 24px;
  text-align: left;
}

.header h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.header p {
  font-size: 14px;
  color: #6a6a73;
  margin-bottom: 16px;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
}

.input {
  width: 100%;
  height: 44px;
  border: 1px solid #000000;
  border-radius: 12px;
  padding: 0 12px;
  outline: none;
  font-size: 16px;
  font-weight: 400; 
  margin-bottom: 16px;
}

.input::placeholder {
  color: #6b7280
}

.input:focus {
  border-color: #6b4eff;

}

.enter-btn {
  margin-top: 8px;
  width: 100%;
  padding: 10px 0;
  height: 40px;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  background-color: #a855f7;
  border-radius: 12px;
  cursor: pointer;
}

.enter-btn:hover {
  background-color: #c084fc;
}

.error-text {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 13px;
  color: #dc2626; /* แดงนิดๆ */
}

.success-text {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 13px;
  color: #16a34a; /* เขียวๆ */
}
